<li>
	{{name}}

	<button class="change-hunger" data-id="{{id}}" data-newhunger="{{hungry}}">
		{{#if hungry}}Eat time!{{else}}Not hungry!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Devour it!</button>
</li>